In [1]:
import sqlite3
import pandas as pd

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn


def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [3]:
#Q10
def Q10(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    SELECT s.name, s.Revenue
    FROM(
    SELECT f.name, SUM(CASE WHEN b.memid=0 THEN b.slots*f.guestcost
    ELSE b.slots*f.membercost END) as Revenue
    FROM Facilities as f
    INNER JOIN
    Bookings as b
    ON f.facid=b.facid
    GROUP BY f.name) as s
    WHERE s.Revenue < 1000
    ORDER BY s.Revenue;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q10. List of Facilities Ordered by Total Revenue with Revenue Lesser than 1000")
        Q10(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
Q10. List of Facilities Ordered by Total Revenue with Revenue Lesser than 1000
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [4]:
#Q11
def Q11(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    SELECT m.memid, m.firstname as Member_FirstName,m.surname as Member_SurName, o.surname || ',' || o.firstname as Recommender_Name
    FROM MEMBERS as m
    INNER JOIN 
    MEMBERS as o
    ON o.memid=m.recommendedby
    WHERE m.memid != 0
    ORDER BY o.surname, o.firstname
    ;
    
    """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def Q11_main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q11. Report of members and who recommended them in alphabetic surname,firstname order")
        Q11(conn)
 
 
if __name__ == '__main__':
    Q11_main()

2.6.0
Q11. Report of members and who recommended them in alphabetic surname,firstname order
(24, 'Ramnaresh', 'Sarwin', 'Bader,Florence')
(22, 'Joan', 'Coplin', 'Baker,Timothy')
(20, 'Matthew', 'Genting', 'Butters,Gerald')
(16, 'Timothy', 'Baker', 'Farrell,Jemima')
(17, 'David', 'Pinker', 'Farrell,Jemima')
(27, 'Henrietta', 'Rumney', 'Genting,Matthew')
(26, 'Douglas', 'Jones', 'Jones,David')
(7, 'Nancy', 'Dare', 'Joplette,Janice')
(11, 'David', 'Jones', 'Joplette,Janice')
(35, 'John', 'Hunt', 'Purview,Millicent')
(8, 'Tim', 'Boothe', 'Rownam,Tim')
(4, 'Janice', 'Joplette', 'Smith,Darren')
(5, 'Gerald', 'Butters', 'Smith,Darren')
(10, 'Charles', 'Owen', 'Smith,Darren')
(14, 'Jack', 'Smith', 'Smith,Darren')
(21, 'Anna', 'Mackenzie', 'Smith,Darren')
(29, 'Henry', 'Worthington-Smyth', 'Smith,Tracy')
(30, 'Millicent', 'Purview', 'Smith,Tracy')
(36, 'Erica', 'Crumpet', 'Smith,Tracy')
(12, 'Anne', 'Baker', 'Stibbons,Ponder')
(15, 'Florence', 'Bader', 'Stibbons,Ponder')
(9, 'Ponder', 'Stibbons', 'Tracy,Burton')

In [5]:
#Q12
def Q12(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    SELECT b.facid,f.name, SUM(b.slots)
    FROM BOOKINGS as b
    INNER JOIN 
    FACILITIES as f
    ON b.facid=f.facid
    WHERE b.memid != 0
    GROUP BY b.facid
    ;
    
    """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def Q12_main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q12. Facilities with their usage by member, but not guests")
        Q12(conn)
 
 
if __name__ == '__main__':
    Q12_main()

2.6.0
Q12. Facilities with their usage by member, but not guests
(0, 'Tennis Court 1', 957)
(1, 'Tennis Court 2', 882)
(2, 'Badminton Court', 1086)
(3, 'Table Tennis', 794)
(4, 'Massage Room 1', 884)
(5, 'Massage Room 2', 54)
(6, 'Squash Court', 418)
(7, 'Snooker Table', 860)
(8, 'Pool Table', 856)

In [6]:
#Q13
def Q13(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    SELECT b.facid,f.name, strftime('%m', b.starttime) as Month, SUM(b.slots) as Usage
    FROM BOOKINGS as b
    INNER JOIN 
    FACILITIES as f
    ON b.facid=f.facid
    WHERE b.memid != 0
    GROUP BY b.facid, Month
    ;
    
    """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def Q13_main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q13. Facilities Usage by Month, but not Guests")
        Q13(conn)
 
 
if __name__ == '__main__':
    Q13_main()

2.6.0
Q13. Facilities Usage by Month, but not Guests
(0, 'Tennis Court 1', '07', 201)
(0, 'Tennis Court 1', '08', 339)
(0, 'Tennis Court 1', '09', 417)
(1, 'Tennis Court 2', '07', 123)
(1, 'Tennis Court 2', '08', 345)
(1, 'Tennis Court 2', '09', 414)
(2, 'Badminton Court', '07', 165)
(2, 'Badminton Court', '08', 414)
(2, 'Badminton Court', '09', 507)
(3, 'Table Tennis', '07', 98)
(3, 'Table Tennis', '08', 296)
(3, 'Table Tennis', '09', 400)
(4, 'Massage Room 1', '07', 166)
(4, 'Massage Room 1', '08', 316)
(4, 'Massage Room 1', '09', 402)
(5, 'Massage Room 2', '07', 8)
(5, 'Massage Room 2', '08', 18)
(5, 'Massage Room 2', '09', 28)
(6, 'Squash Court', '07', 50)
(6, 'Squash Court', '08', 184)
(6, 'Squash Court', '09', 184)
(7, 'Snooker Table', '07', 140)
(7, 'Snooker Table', '08', 316)
(7, 'Snooker Table', '09', 404)
(8, 'Pool Table', '07', 110)
(8, 'Pool Table', '08', 303)
(8, 'Pool Table', '09', 443)